<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
            <directory>controllers</directory>
            <file>orderrevocator.php</file>
        </include>
        <exclude>
            <!-- Directory-listing-prevention stubs, no logic to cover -->
            <file>src/index.php</file>
            <file>src/Entity/index.php</file>
            <file>controllers/index.php</file>
            <file>controllers/front/index.php</file>
        </exclude>
    </source>
</phpunit>
